<section id="welcome-screen">
  <section>
  <h1> Book Club </h1>
  <h4>Project By: Martha & Justin</h4>
  </section>
  <%= link_to "Click Here to Enter App", books_path%>

  <script>
   document.querySelector("nav").style.display = "none";
  </script>
</section>
