#book-stats-area, #sorting-books {
    display: flex;
    justify-content: space-around;
}
#sorting {
    padding:10px;
    text-align:center;
}
#books-section {
    height:95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;

    .book {
        width:300px;
        max-width:300px;
        border-radius:10px;
        border: 1px solid peru;
        margin:1% 0;
        padding:1%;
    }

    .book-title{
        margin-bottom:1%;
        background-color: lightgrey;
        padding:1%;
        height:2rem;
        border-radius: 10px 10px 0 0;
    }

    .book-author {
        font-size: 0.8rem;
    }

    .book-rating {
        font-size: 0.8rem;
    }

    img {
        max-height:350px;
        width:100%;
    }

    .book-footer {
        display:flex;
        justify-content: space-between;
    }
}

